.ExpandedListing {
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: top;
}

.Images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*TODO: fix image size to relative, affects the dimensions of each listing*/
.Image {
    height: 400px;
    vertical-align: top;
    text-align: left;
    width: 70%;
}

.ImageButton {
    width: 10%;
    outline: none;
    border: none;
    background-color: inherit;
}

.ImageButton:hover {
    cursor: pointer;
}

.ImageButton:disabled {
    opacity: 0.2;
    cursor: no-drop;
}

.Left {
    width: 50%;
    margin: 10px;
}

.Right {
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.Text {
    margin: 20px;
    width: 80%;
}

.Description {
    font-size: 16px;
    color: grey;
    list-style: none;
    padding-left: 0px;
    display: block;
    text-align: left;
    line-height: 150%;
} 

.Button Button {
    margin-left: 20px;
    margin-right: 20px;
}