.ExpandedListing {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px 0 #ccc;
}

.ExpandedListingContent {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: top;
    border-bottom: 2px solid #f0f1f1;
}

.ImageContent {
    width: 50%;
    margin: 10px;
}

.Images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*TODO: fix image size to relative, affects the dimensions of each listing*/
.Image {
    height: 400px;
    vertical-align: top;
    text-align: left;
    width: 90%;
}

.ImageButton {
    width: 10%;
    outline: none;
    border: none;
    background-color: inherit;
}

.ImageButton:hover {
    cursor: pointer;
}

.ImageButton:disabled {
    opacity: 0.2;
    cursor: no-drop;
}

.TextContent {
    width:50%;
    display:flex;
    justify-content: flex-end;
}

.listingDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Description {
    font-size: 16px;
    color: grey;
    list-style: none;
    padding-left: 0px;
    display: block;
    text-align: left;
    line-height: 150%;
} 

.Selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    padding-bottom: 5px;
}