.NewPost {
    margin: 20px auto;
    width: 80%;
    height: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.Image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ImageText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Image img {
    padding: 8px;
    width: 100px;
    height: 100px;
}

.postSummary {
    text-align: left;
}

@media (max-width: 616px) {
    .NewPost {
        font-size: small;
    }

    .postSummary {
        font-size: small;
    }
}