.Listings {
    display: flex;
    box-sizing: border-box;
    line-height: 21px;
    text-size-adjust: 100%;
    padding: 16px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}