.Listings {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height: 21px;
    text-size-adjust: 100%;
    justify-content: flex-start;
}

@media (max-width: 616px) {
    .Listings {
        justify-content: center;
    }
}