.Listings {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 21px;
    text-size-adjust: 100%;
}

.Listing {
    flex: 1 0 20%; 
}