/*TODO: fix listing size to relative*/
.Normal {
    display: flex;
    flex-direction: column;
    height: 505px;
    width: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px;
    text-align: left
}

.Normal:hover {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.Shortened {
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px;
    text-align: left
}

.Shortened:hover {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.OnRent {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    text-align: left
}

.OnRent:hover {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.FullListing {
    background-color: white;
    width: 255px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    text-align: left;
    justify-content: flex-start;
}

.Textbook {
    color: black;
    font-size: medium;
}

/*TODO: fix image size to relative, affects the dimensions of each listing*/
.Image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.Description {
    font-size: 12px;
    color: grey;
    list-style: none;
    padding-left: 13px;
}

.Icon {
    stroke: grey;
    stroke-width: 40px;
    cursor: pointer;
    transition-duration: 0.2s;
    padding-left: 13px;
}

.Enabled {
    color: red;
}

.Disabled {
    color: white;
}