/*TODO: fix listing size to relative*/
.Listing {
    background-color: white;
    width: 250px;
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 0px;
    text-align: left;

}

.FullListing {
    background-color: white;
    width: 255px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    text-align: left;
    justify-content: flex-start;
}

.Listing:hover {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.Listing li {
    padding: 3px;
}

.Textbook {
    color: black;
    font-size: medium;
}

/*TODO: fix image size to relative, affects the dimensions of each listing*/
.Image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Description {
    font-size: 12px;
    color: grey;
    list-style: none;
    padding-left: 0px;
} 

.Selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Icon {
    stroke: grey;
    stroke-width: 40px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.Enabled {
    color: red;
}

.Disabled {
    color: white;
}