.profile {
    box-shadow: 0 3px 5px 0 #ccc;
}

.Background {
    width: 100%;
    height: 128px;
    background-color: #ffcdc5;
    /* background-image: url(https://mweb-cdn.karousell.com/build/profile-bg-aad22df….jpg); */
    background-repeat: repeat;
    background-size: 50%;
    padding: 0px;
}

/* Whole profile below background */
.Profile {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/*-------------------LEFT (TOP) SIDE--------------------*/

/* User information (image + email, date)*/
.UserDetails {
    width: 40%;
    height: 100%;
    margin: 0px;

    position: relative;
    top: -48px;

    text-align: left;
    font-size: 14px;
    color: grey;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

.ProfileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

/*-------------------RIGHT (BOTTOM) SIDE--------------------*/

/* Navigation + listings/requests/onRent/comments */
.Information {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Navigation bar and dropdown */
.DropDown,
.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    color: grey;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #e7ebee;
}

.DropDownContent {
    width: fit-content;
}

/* .arrowDown {
    font-weight: bold;
    color: #dd5641;
    border-bottom: 3px solid #dd5641;
    outline: none;
    height: 52px;
    align-items: center;
    cursor: pointer;
} */

.DropDown button,
.Navigation button {
    border: none;
    background-color: white;
    font-family: inherit;
    font-size: inherit;
    height: 52px;
    width: 125px;
    cursor: pointer;
}



/* .DropDown button:hover,
.Navigation button:hover {
    background-color: #e7ebee;
} */

/* .DropDown button:hover, */
/* .Navigation button:active,
.Navigation button:focus {
    font-weight: bold;
    color: #dd5641;
    border-bottom: 2px solid #dd5641;
    outline: none;
} */

/* Dropdown */
.filter {
    width: inherit;
    height: fit-content;
    align-items: center;
    z-index: 1;
    display: block;
    position: absolute;
}

/* Listings/Requests/onRent/comments outermost div */
.Details {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px 0 rgba(44, 44, 45, .07);
    background-color: #fff;
    border-radius: 8px;
}

.Reviews {
    padding-left: 10px;
    list-style-type: none;
}

.Reviews li {
    display: list-item;
    text-align: start;
}

.reportSummary {
    text-align: center
}

/*------------------------------------------------------------------*/

/* Change navigation bar in profile to dropdown when below 950px */
@media (max-width: 950px) {
    .DropDown {
        flex-direction: column;
        height: 100%;
    }

    .Navigation {
        width: fit-content;
    }

    .reportSummary {
        font-size: small;
    }
}

/* Any screen smaller than iPad */
@media (max-width: 765px) {
    .Profile {
        flex-direction: column;
        align-items: center;
    }

    .ProfileDetails {
        width: 100%;
    }
}