.autoComplete {
    display: inline-block;
    width: 25%;
    padding: 10px 20px;
}

.input {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: none;
    border-bottom: solid 1px #ff5138;
    color: rgb(0, 0, 0);
}

.input:focus {
    outline: none;
    box-shadow: 0px 2px 0px 0px#ff4427b2;
}

.noSuggestions {
    text-align: center;
    color: red;
}

.suggestions {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    max-height: 100px;
    font-size: smaller;
    width: 80%;
    margin-right: 50%;
}

.suggestions li {
    
    padding: 0.5rem;
}

.suggestionActive,
.suggestions li:hover {
    background-color: #ffb3a7;
    color: rgb(252, 31, 31);
    cursor: pointer;
    color: white
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}