.Comments {
    /* box-shadow: 0 3px 5px 0 #ccc; */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.commentHeader {
    margin: 10px 0 5px 10px;
    text-align: center;
}

.postButton {
    padding-left: 1.7%
}


.reviewStars {
    text-align: left;
    padding-left: 10px;
}

.textarea {
    padding-left: 10px;
    border-style: none;
    width: 90%;
}

.textarea:focus {
    outline: none;
}

.li {
    display: list-item;
}

.NewComment {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

.CommentMessages {
    padding-left: 10px;
    list-style-type: none;
    text-align: left;
}

.AuthPrompt:link,
.AuthPrompt:visited {
    color: #999;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0 5px 0;
}

.AuthPrompt:hover,
.AuthPrompt:active {
    color: #ff5138;
    text-decoration: underline;
}

@media (max-width: 685px) {

    .NewComment {
        flex-direction: column;
    }

    .commentHeader {
        font-size: small;
    }

    .reviewStars {
        text-align: center;
        font-size: small;
    }

}