.Chat {
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    border-top: 3px solid #dd4b39;
    box-shadow: 0 3px 5px 0 #ccc 
}

.ChatBox {
    background: #ffffff;
    margin-bottom: 20px;
    width: 75%;
    height: 600px;
}

.ChatContacts {
    width: 290px;
    height: 600px;
    background: #fff;
    border-radius: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    /* box-shadow: 0 3px 5px 0 #ccc */
}

/* .Search {
    background: #e3e9ed;
    height: 60px;
    width: 290px;
    bottom: 0;
    left: 0;
}

.SearchField {
    background: #e3e9ed;
    margin: 21px 0 0 55px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 400px;
    color: #8198ac;
}

.SearchField:focus {
    outline: 0;
} */