.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.Textarea {
    resize: none;
}

.InputElement {
    outline: none;
    border: 1px solid #fff;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    border: solid 2px black;
    background-color: #fff;
}

.Invalid {
    border: 2px solid red;
    background-color: rgb(252, 135, 135);
    color: black
}