.InterestedListing {
    display: flex;
    border-bottom: 2px solid #f4f4f4;
}

.InterestedListingDetails {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    max-width: 50%;
    color: #2c2c2d,
}

.RequestDetails {
    display: flex;
    text-align: left;
    max-width: 50%;
    color: #2c2c2d,
}

.RequestDetails ul {
    list-style: none;
    padding-left: 10px;
}

.Buttons {
    align-self: center;
    margin-left: auto;
    padding-right: 5px;
}

.image {
    flex: none;
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.Popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OfferInput {
    border: none;
    width: 20rem;
    border-bottom: 2px solid red;
    margin-bottom: 5px;
}

.OfferInput:focus {
    outline: none;
}

@media (max-width: 700px) {
    .InterestedListingDetails {
        font-size: small;
    }

    .promptMessage {
        font-size: small;
    }
}