.Content {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.LockScroll {
    position: fixed;
    width: 90%;
}

@media (max-width: 320px) {
    .Content {
        overflow-x: auto;
    }
}