.Content {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%
}

@media (max-width: 1000px) {
    .Content {
        overflow-x: scroll;
    }
}